<ion-header>
  <ion-toolbar color="success" >
      <ion-grid>
          <ion-row>
              <div color="light">
                  <button size="large" (click)="retroceder()" style=" color: white; background-color: rgba(0, 0, 0, 0); ">
      <ion-icon  class="custom-icon" name="arrow-back-outline" style=" padding: 0; margin-top: 5px; "></ion-icon>
  </button>
              </div>

              <div color="light">
                  <h5 style="margin-top: 10px; margin-bottom: 10px; margin-left: 8px; color:white;">¿Confirmar Viaje?</h5>

              </div>
          </ion-row>
      </ion-grid>
      <ion-progress-bar color="success" *ngIf="cargando" type="indeterminate" style="margin-top: 25px; position: fixed;"></ion-progress-bar>
  </ion-toolbar>

</ion-header>

<ion-content class="fondo">
    
    
    
    <h4 style="text-align: center;">Chofer:</h4>
    <ion-card color="light" style="margin-top: 40px;">
        <div class="img-wrapper">
          <img [src]="viaje.imgConductor" />
        </div>
        <ion-card-content class="ion-text-center datosConductor" >
          <h2>{{viaje.nombreConductor}}</h2>
          <ion-item>Edad: {{viaje.edadConductor}}</ion-item>
          <ion-item>Fecha: {{viaje.fecha}}</ion-item>
          <ion-item>Hora: {{viaje.hora}}</ion-item>
          <ion-item><ion-icon name="cash-outline"></ion-icon>${{viaje.precio}}</ion-item>
          
          <ion-text color="medium">
            <div style="display: flex;" class="ion-justify-content-center">
              <ion-icon name="location-outline" color="medium">
              </ion-icon></div>
              <p>ORIGEN: {{viaje.origen}}</p>
            
            <div style="display: flex;" class="ion-justify-content-center">
              <ion-icon name="location-outline" color="medium">
              </ion-icon></div>
              <p style="font-size: 14px;">DESTINO: {{viaje.direccionDestino}}, {{viaje.regionDestino}}</p>
  
          </ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card color="tertiary" style="margin: 12px 20px; padding: 10px 0; ">
      <h5 style="text-align: center; margin: 0; padding: 0; color: rgb(19, 19, 19);">¿Confirmar Viaje?</h5>
      <div style="text-align: center;">
        <ion-button (click)="enviar()" color="success" >
            <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        <ion-button (click)="retroceder()" color="danger" >
            <ion-icon name="close"></ion-icon>
            </ion-button>
    </div>
    </ion-card>
</ion-content>
