<ion-header>
  <ion-toolbar color="success" >
      <ion-grid>
          <ion-row>
              <div color="light">
                  <button size="large" (click)="retroceder()" style=" color: white; background-color: rgba(0, 0, 0, 0); ">
      <ion-icon  class="custom-icon" name="arrow-back-outline" style=" padding: 0; margin-top: 5px; "></ion-icon>
  </button>
              </div>

              <div color="light">
                  <h5 style="margin-top: 10px; margin-bottom: 10px; margin-left: 8px; color:white;">¿Confirmar Viaje?</h5>

              </div>
          </ion-row>
      </ion-grid>
      <ion-progress-bar color="success" *ngIf="cargando" type="indeterminate" style="margin-top: 25px; position: fixed;"></ion-progress-bar>
  </ion-toolbar>

</ion-header>

<ion-content class="fondo">
    
    
    
    <h4 style="text-align: center;">Conductor:</h4>
    <ion-card color="light" style="margin-top: 40px;">
        <div class="img-wrapper">
          <img [src]="viaje.imgConductor" />
        </div>
        <ion-card-content class="ion-text-center datosConductor">
          <h2>{{viaje.nombreConductor}}</h2>
          <ion-text color="medium">
            <div style="display: flex;" class="ion-justify-content-center">
              <ion-icon name="location-outline" color="medium">
              </ion-icon>
              <p>ORIGEN: -</p>
              <p> {{viaje.origen}}</p>
            </div>
            <div style="display: flex;" class="ion-justify-content-center">
                <ion-icon name="location-outline" color="medium">
                </ion-icon>
                <p>DESTINO: -</p>
                <p> {{viaje.direccionDestino}}</p>
              </div>
          </ion-text>
        </ion-card-content>
      </ion-card>
    
</ion-content>
