<ion-header>
</ion-header>

<!--CUERPO-->
<ion-content class="fondo">
    <ion-progress-bar color="success" *ngIf="cargando" type="indeterminate" style="margin-top: 25px; position: fixed;" ></ion-progress-bar>

    <h2 style="padding-top: 50%; text-align: center; color: #ffffff; font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        Restablecer contraseña
    </h2>

    <!-- FORMULARIO RECUPERACION-->
    <form [formGroup]="RegisterForm">


        <!--------------------------------------------------------------------------------------------------------------------->
        <!--EMAIL (INPUT SIN USAR, CON VALIDACIONES LISTAS)
        <div>
            <ion-input type="email" placeholder="Ingresa tu Email" formControlName="email" style="background-color: #f5f5f5; text-align: center;"></ion-input>
        </div>

        <div *ngIf=" RegisterForm.get('email').hasError('required') && RegisterForm.get('email').touched" style="color: red; font-size: 15px; margin-left: 10px; text-align: center">
            Debes ingresar tu email.
        </div>
        <div color="red" *ngIf=" RegisterForm.get('email').hasError('pattern') && RegisterForm.get('email').touched" style="color: red; font-size: 15px; margin-left: 10px; text-align: center">
            Email inválido.
        </div>
        -->
        <!--------------------------------------------------------------------------------------------------------------------->


        <!-- USUARIO -->
        <div style="margin-left: 20px; margin-right: 20px;">
            <ion-input type="text" placeholder="Ingresa tu Usuario" color="light" formControlName = "usuario" [(ngModel)]="usuarioingresado" style="border-radius: 50px; background-color: #000000c4; text-align: center;"></ion-input>
          </div>

        <div *ngIf=" RegisterForm.get('usuario').hasError('required') && RegisterForm.get('usuario').touched" style="color: red; font-size: 15px; margin-left: 10px; text-align: center">
            Debes ingresar tu Usuario.
        </div>
        <div color="red" *ngIf=" RegisterForm.get('usuario').hasError('minlength')" style="color: red; font-size: 15px; margin-left: 10px; text-align: center">
            Usuario inválido.
        </div>
        <div color="red" *ngIf=" RegisterForm.get('usuario').hasError('maxlength')" style="color: red; font-size: 15px; margin-left: 10px; text-align: center">
            Usuario inválido.
        </div>


        <div style="text-align: center !important;">
            <ion-button color="primary" type="submit" *ngIf="RegisterForm.invalid" [disabled]="RegisterForm.invalid" style="margin-top: 13px; opacity: 76%;">Recuperar</ion-button>
            <ion-button color="success" type="submit" *ngIf="RegisterForm.valid" (click)="retroceder()" (click)="presentToast()" style="margin-top: 13px; ">Recuperar</ion-button>
        </div>
    </form>






</ion-content>


<ion-footer>

</ion-footer>