<!--<ion-header>
    <ion-toolbar color="dark">
    <ion-grid>
        <ion-row>
                <h5 style="margin-top: 10px; margin-bottom: 10px; margin-left: 8px; color:white;">¿A dónde vas?</h5>
        </ion-row>
    </ion-grid>
</ion-toolbar>

</ion-header>


<ion-content>
    <p>hola</p>
</ion-content>-->



<ion-content class="fondo">
    <nav class="navbar navbar-dark bg-dark">
        
        <ion-grid style="margin-top:20px;">
            <ion-row>
                <ion-col-4 color="light" >
                    <ion-button color="asd" (click)="atras()" style="padding: 0; margin: 0; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0); ">
                        <ion-icon color="light" size="medium" class="custom-icon" name="arrow-back-outline" style=" padding: 0; margin: 0; margin-left: 10px; "></ion-icon>
                        </ion-button>
                </ion-col-4>

                <ion-col-5 color="light">
                    <h5 style="margin-top: 10px; margin-bottom: 10px; margin-left: 8px; color:white;">Selecciona tu Destino</h5>

                </ion-col-5>
            </ion-row>
        </ion-grid>


        <div style="padding-left: 5px; padding-right: 5px; color: red;" id="geocoder" #asGeoCoder class="geocoder"></div> 
    </nav>



    <div class="container p-3 mapa">

        <ion-content id="map" #asMap class="map-container"></ion-content>

    </div>

    <div style="text-align: center;">
        <ion-button (click)="regresar()" (click)="presentToast()" color="success">Confirmar</ion-button>
    </div>

    

</ion-content>>


    
