#map{
    width: 100%;
    height: 300px;
    border-radius: 50px; 
}

.mapboxgl-popup{
    max-width: 80px;
}

ion-content.fondo{
    --background:
    url("../imagen/fondoblanco2.png") no-repeat center center / cover;
}
