<ion-header>
  <ion-toolbar color="dark" >
      <ion-grid style="background: linear-gradient(to left, rgb(26, 26, 26), rgb(43, 43, 43) 50%, rgb(54, 54, 54) 80%, rgb(61, 61, 61) 100%)">
          <ion-row>
              <div color="light">
                  <button size="large" (click)="retroceder()" style=" color: white; background-color: rgba(0, 0, 0, 0); ">
      <ion-icon  class="custom-icon" name="arrow-back-outline" style=" padding: 0; margin-top: 5px; "></ion-icon>
  </button>
              </div>

              <div color="light">
                  <h5 style="margin-top: 10px; margin-bottom: 10px; margin-left: 8px; color:white;">¡Inscríbete como Conductor!</h5>

              </div>
          </ion-row>
      </ion-grid>
      <ion-progress-bar color="success" *ngIf="cargando" type="indeterminate" style="margin-top: 25px; position: fixed;"></ion-progress-bar>
  </ion-toolbar>

</ion-header>

<ion-content class="fondo" padding>
    <div style="text-align: center;">
        <img style=" padding: 20px 15px 0px 15px; border-radius: 40px; " src="https://i.ibb.co/SK7bqN9/duocSede.png" alt="Tellevoapp">
    </div>

    <h5 style="text-align: center; padding-top:10px; color:rgb(41, 41, 41);">¿Cómo inscribirse?</h5>

    <div class="campomensaje">
        <p class="mensaje">
            P
        </p>
    </div>
</ion-content>