ion-icon {
    font-size: 25px;
  }

  ion-content.fondo {
    --background: url("../imagen/fondoblanco2.png") no-repeat center center / cover;
}

.campomensaje {
  font-size: 15px;
  background: linear-gradient(to left, #007213, #09943e 80%, #17b152 100%);
  color: rgb(245, 245, 245);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 0;
  padding: 3px 3px 0px 3px;
}
.campomensaje2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  font-size: 13px;
  background: rgba(0, 0, 0, 0.568);
  color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 3px 3px 0px 3px;
}
.campomensaje3 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  font-size: 13px;
  background: rgba(0, 0, 0, 0.568);
  color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-right: 20px;
  margin-top:10px;
  border-radius: 10px;
  padding: 3px 3px 0px 3px;
}

.mensaje{
  font-size: 14px;
  text-align: center;
}

.mensaje3{
  text-align:left;
  margin-left: 10px;
  margin-top:0; margin-bottom: 0;
}