ion-content.fondo {
    --background: url("../imagen/fondoblanco2.png") no-repeat center center / cover;
}

.campomensaje {
    font-size: 14px;
    margin-top: 10%;
    background-color: #0000000e;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 3px 3px 0px 3px;
    text-align: center;
}