<ion-content class="fondo">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h3 style="padding-top: 20px; ">¿A dónde vas?:</h3>
            </a>
        </div>
        <ion-searchbar color="light" [(ngModel)]="direccion" placeholder="¿A qué comuna vas?"></ion-searchbar>
    </nav>



    <div class="container p-3 mapa">

        <div id="map">
        </div>
    </div>

    <div style="text-align: center;">
        <ion-button (click)="regresar()" (click)="presentToast()" color="success">Confirmar</ion-button>
    </div>

    

</ion-content>>