ion-content {}

.background-container {
    height: 100vh;
    width: 100%;
    display: flex;
    background: url('fondoprueba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}