ion-content.fondo {
    --background: url("../../pages/imagen/fondoblanco2.png") no-repeat center center / cover;
}

.fondo {
    background: url("../../pages/imagen/fondoblanco2.png") no-repeat center center / cover;
    ;
}

.custom-icon {
    font-size: 25px; 
}