<ion-content class="fondo">

    <form [formGroup]="RegisterForm">
        <ion-card>
            <ion-item>
                <ion-label position="floating">Comuna:</ion-label>
                <ion-input [(ngModel)]="viaje.titulo" type="text" formControlName="titulo"></ion-input>
                <div *ngIf=" RegisterForm.get('titulo').hasError('required') && RegisterForm.get('titulo').touched" style="color: #ff2020; font-size: 13px; margin-left: 10px; text-align: center;">
                    Debes ingresar un Título.
                </div>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Fecha Salida:</ion-label>
                <ion-input [(ngModel)]="viaje.fecha" displayFormat="DD/MM/YYYY" type="date" formControlName="fecha"></ion-input>
                <div *ngIf=" RegisterForm.get('fecha').hasError('required') && RegisterForm.get('fecha').touched" style="color: #ff2020; font-size: 13px; margin-left: 10px; text-align: center;">
                    Debes ingresar una Fecha.
                </div>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Hora:</ion-label>
                <ion-input maxlength="5" [(ngModel)]="viaje.hora" type="text" formControlName="hora"></ion-input>
                <div *ngIf=" RegisterForm.get('hora').hasError('required') && RegisterForm.get('hora').touched" style="color: #ff2020; font-size: 13px; margin-left: 10px; text-align: center;">
                    Debes ingresar una Hora.
                </div>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Capacidad Pasajeros:</ion-label>
                <ion-input [(ngModel)]="viaje.pasajeros" type="number" formControlName="capacidad"></ion-input>
                <div *ngIf=" RegisterForm.get('capacidad').hasError('required') && RegisterForm.get('capacidad').touched" style="color: #ff2020; font-size: 13px; margin-left: 10px; text-align: center;">
                    Debes ingresar Capacidad de Pasajeros.
                </div>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Precio:</ion-label>
                <ion-input [(ngModel)]="viaje.precio" type="number" formControlName="precio">$</ion-input>
                <div *ngIf=" RegisterForm.get('precio').hasError('required') && RegisterForm.get('precio').touched" style="color: #ff2020; font-size: 13px; margin-left: 10px; text-align: center;">
                    Debes ingresar un Precio.
                </div>
            </ion-item>


            <ion-item style="padding-top:12px;">
                <p style="margin-top: 3px;">Tu destino:</p>
                <div style="padding-bottom: 12px; padding-left: 5px;">
                    <ion-chip *ngIf="!apagarboton" [disabled]="RegisterForm.invalid" (click)="abrirmapa()" outline color="primary">
                        <ion-icon name="pin" color="danger"></ion-icon>
                        <ion-label>Elige tu Destino:</ion-label>
                    </ion-chip>

                    <ion-chip *ngIf="apagarboton" (click)="abrirmapa()" outline color="success">
                        <ion-icon name="checkmark" color="success"></ion-icon>
                        <ion-label>Destino Guardado</ion-label>
                    </ion-chip>
                </div>
            </ion-item>

            <div style="text-align: center;">
                <ion-button (click)="crearviaje()" [disabled]="true" *ngIf="!apagarboton" color="success" style="margin-bottom: 20px; margin-top:20px;">Crear Viaje</ion-button>
                <ion-button (click)="guardarViaje()" (click)="presentToast()" *ngIf="!RegisterForm.invalid && apagarboton" color="success" style="margin-bottom: 20px; margin-top:20px;">¡Crear Viaje!</ion-button>
            </div>
        </ion-card>
    </form>
</ion-content>