<ion-app>

    <ion-menu side="start" menuId="first" contentId="menu1" type="overlay">

        <ion-header>
            <ion-toolbar color="dark">

                <ion-grid>
                    <ion-row>
                        <ion-col style="text-align: left;">

                            <ion-avatar>
                                <img src="https://www.pngkit.com/png/full/115-1150342_user-avatar-icon-iconos-de-mujeres-a-color.png" alt="avatar">
                            </ion-avatar>
                        </ion-col>
                        <ion-col style="padding: 0vh; margin-top: 0vh; text-align: left;">
                            <h3>TeLlevoApp</h3>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </ion-toolbar>

        </ion-header>

        <ion-content>
            <ion-list>

                <ion-item>
                    <ion-icon name="time-outline"></ion-icon>
                    Mis viajes
                </ion-item>
                <ion-item>
                    <ion-icon name="cog-outline"></ion-icon>
                    Configuración
                </ion-item>
                <ion-item>
                    <ion-icon name="help-outline"></ion-icon>
                    Ayuda
                </ion-item>

            </ion-list>
        </ion-content>

        <ion-footer>

            <ion-button type="submit" color="dark" expand="full" (click)=retroceder() (click)=closeMenu()>Cerrar sesion
                <ion-icon name="caret-forward-outline"></ion-icon>
            </ion-button>
        </ion-footer>

    </ion-menu>

    <ion-router-outlet id="menu1"></ion-router-outlet>

</ion-app>