<ion-app>

    <ion-menu side="start" menuId="first" contentId="menu1">

        <ion-header>
            <ion-toolbar color="dark">

                <ion-grid>
                    <ion-row>
                        <ion-col style="text-align: left;">

                            <ion-avatar>
                                <img src="https://www.pngkit.com/png/full/115-1150342_user-avatar-icon-iconos-de-mujeres-a-color.png" alt="avatar">
                            </ion-avatar>
                        </ion-col>
                        <ion-col style="padding: 0vh; margin-top: 0vh; text-align: left;">
                            <h3>TeLlevoApp</h3>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </ion-toolbar>

        </ion-header>

        <ion-content>
            <ion-list>

                <ion-item>Mis viajes</ion-item>
                <ion-item>Configuración</ion-item>
                <ion-item>Ayuda</ion-item>

            </ion-list>
        </ion-content>

        <ion-footer>
            <ion-item [routerLink]="['/login']">Cerrar sesión</ion-item>
        </ion-footer>

    </ion-menu>

    <ion-router-outlet id="menu1"></ion-router-outlet>

</ion-app>