<ion-app>

    <ion-menu side="start" menuId="first" contentId="menu1" type="overlay">

        <ion-header>
            <ion-toolbar color="dark">

                <ion-grid>
                    <ion-row>
                        <ion-col-3 style="text-align: left;">

                            <ion-avatar>
                                <img src="https://st3.depositphotos.com/1350793/13975/i/450/depositphotos_139757118-stock-photo-young-woman-taking-a-selfie.jpg" alt="avatar">
                            </ion-avatar>
                        </ion-col-3>
                        <ion-col-9 style="padding: 0vh; margin-top: 0vh; text-align: left; margin-left: 10px;">
                            <h3>TeLlevoApp</h3>
                        </ion-col-9>
                    </ion-row>
                </ion-grid>


            </ion-toolbar>

        </ion-header>

        <ion-content class="fondo">
            <ion-list>

                <ion-item class="bordebotonmenu">
                    <ion-icon name="time-outline"></ion-icon>
                    Mis viajes
                </ion-item>
                <ion-item class="bordebotonmenu">
                    <ion-icon name="cog-outline"></ion-icon>
                    Configuración
                </ion-item>
                <ion-item class="bordebotonmenu">
                    <ion-icon name="help-outline"></ion-icon>
                    Ayuda
                </ion-item>

            </ion-list>
        </ion-content>

        <ion-footer>

            <ion-button type="submit" color="dark" expand="full" (click)=retroceder()>Cerrar sesion
                <ion-icon name="caret-forward-outline"></ion-icon>
            </ion-button>
        </ion-footer>

    </ion-menu>

    <ion-router-outlet id="menu1"></ion-router-outlet>

</ion-app>