
<ion-content class="fondo">
  <ion-card>
      <ion-list-header>
          <ion-title>Tus Viajes:</ion-title>
      </ion-list-header>
      <ion-list>
          <ion-item *ngFor="let viaje of viajesDeCuenta">
              <ion-label>
                  <p style="font-size: 17px; color: black;">{{viaje.comunaDestino}}</p>
                  <p style="font-size: 14px; color: black; font-weight: lighter">{{viaje.fecha}}</p>
                  <p style="font-size: 14px; color: black; font-weight: lighter">${{viaje.precio}}</p>
                  <p style="font-size: 14px; color: black; font-weight: lighter">{{viaje.direccionDestino}}</p>
              </ion-label>
              <ion-button color="danger" (click)="obtenerIdViaje(viaje.id)">
                  <ion-icon slot="icon-only" name="close-outline"></ion-icon>
              </ion-button>
          </ion-item>
      </ion-list>
  </ion-card>
</ion-content>
