<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Frozen Team c:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Frozen Team c:</ion-title>
      <img src="" alt="">
      
    </ion-toolbar>
    
  </ion-header>

  <div id="container">
    
    <strong>Foto de nosotrxs ❤</strong>
    <ion-card>
      <img src="https://i.pinimg.com/originals/22/74/78/2274786be2821c39d7f3b4802c0536c7.png" alt="">
    </ion-card>
    <p>XD</p>
  </div>
</ion-content>
