<ion-header [translucent]="true">
  <ion-header >
    <ion-toolbar color="blue" style="padding: 0;">
      <div style="text-align: right !important;">
      
      <img src='assets/icon/logoDuoc.png' style=" height: 3.5vh; padding-top: 0; margin-right:0">
      </div>
    </ion-toolbar>
  </ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" color="black">TeLlevoApp</ion-title>
      <img src="" alt="">
      
    </ion-toolbar>
    
  </ion-header>

  <div id="container">
    
    <strong class="ion-text-center">Bienvenido</strong>

      <img src= 'assets/icon/App.png' alt="">
  
    <p>Vuelve seguro a tu hogar</p>
  </div>
</ion-content>
